<div class="container">
    <h1>Meus Links Encurtados</h1>
    <div class="card-list">
      @if (shortUrls.length>0) {
@for (short of shortUrls; track $index) {
      <div class="card">
        <p class="original-url">{{short.originalUrl}}</p>
        <div class="short-url">
          <a routerLink="/short/{{short.shortCode}}" target="_blank">http://localhost:4200/short/{{short.shortCode}}</a>
        </div>
        <div class="card-actions">
          <button (click)="copyToClipboard(`http://localhost:4200/short/${short.shortCode}`)">Copiar</button>
          <a routerLink="/short/{{short.shortCode}}" target="_blank"><button>Abrir</button></a>
        </div>
      </div>
    }


      }@else {
        <p>Não há links</p>
      }
    </div>
  </div>
